body {
    background-color: #bfc9dd;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #353b6c;
}

.bg-light {
    background-color: #616792 !important; /* Medium shade for navbar */
}

.btn-outline-success {
    color: #bfc9dd;  /*Light shade for text*/
    font-size: 100%;
    background-color: #2a5cfc;  /*Dark shade for primary button background*/
    border-color: #353b6c;  /*Darkest shade for border*/
    border-width: thin;
}

.btn-outline-success:hover {
    background-color: #678ff8;
    border-color: #bfc9dd;
}

/*
.navbar-brand{
    *font here*
}
*/